body {
	font-family: Roboto, sans-serif;
	background: #f5f5f5;
}
section, footer, .divider {
	clear: both;
}

/*---*/

.hero {
	background: #0078c1;
	color: #fff;
}
.hero .wrapper {
	width: 800px;
	height: 500px;
	background-image: url('college_students.jpg');
	background-size: cover;
	margin: 0 auto;
	position: relative;
}
.hero .text {
	width: 500px;
	position: absolute;
	bottom: 0;
	padding: 20px;
	background: #0078c1;
	background: linear-gradient(90deg, #0078c1 0%, #0078c1 89%, transparent 100%);
}
.hero h1 {
	font-family: Roboto Slab, serif;
	font-size: 30px;
}
.hero h2 {
	font-size: 15px;
}

/*---*/

.featured {
	background: #f5f5f5;
	padding-top: 50px;
}
.featured h1 {
	font-family: Roboto Slab, serif;
	font-size: 30px;
	text-align: center;
}
.featured .wrapper {
	width: 920px;
	margin: 30px auto;
}
.featured article {
	position: relative;
	float: left;
	width: 300px;
	height: 360px;
	margin: 3px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
}
.featured article > button {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.featured article .logo {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto 10px;
}
.featured article .logo img {
	position: absolute;
	width: auto;
	height: auto;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.featured article .name {
	font-family: Roboto Slab, serif;
	font-size: 16px;
	font-weight: bold;
	color: #00619d;
}
.featured article .location {
	color: #999;
	padding-bottom: 10px;
}
.featured .divider {
	height: 50px;
}

/*---*/

.why {
	text-align: center;
	padding: 50px 0;
	height: 500px;
	background: #fff;
}
.why h1 {
	font-family: Roboto Slab, serif;
	font-size: 30px;
}
.why h2 {
	font-size: 15px;
}
.why .wrapper {
	width: 900px;
	margin: 30px auto;
}
.why .benefit {
	float: left;
	width: 300px;
	padding: 10px 20px;
}

/*---*/

.modal iframe {
	width: 100%;
	height: 70%;
}
.modal-dialog {
	width: 90%;
}

/*---*/

footer {
  text-align: center;
	padding: 50px 0;
}
footer .tag {
	color: #00619d;
	font-size: 15px;
}
