body {
	font-family: Roboto, sans-serif;
	background: #fff;
	color: #333;
}
section, footer {
	clear: both;
	margin: 0 50px 30px;
}
/*---*/

header {
  background: #0078c1;
	color: #fff;
	width: 100%;
  padding: 50px 50px 10px;

}
header .logo {
	margin: 0 30px 0 0;
	float: left;
	width: 150px;
	height: 150px;
	background: #fff;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
}
header h1 {
	margin: 0 50px;
	font-size: 33px;
	font-family: Roboto Slab, serif;
}

/*---*/

.facts {
	float: left;
	clear: none;
	margin: 0 50px 30px 0;
}

/*---*/

.courses ul {
	list-style-type: none;
	margin-top: 20px;
}
.courses li {
  display: inline;
	background: #DFDEDE;
	border: 1px solid #9B9B9B;
	border-radius: 4px;
	margin-right: 10px;
	padding: 5px 10px;
	line-height: 3;
	white-space: nowrap;
}

/*---*/

.photos img {
    margin: 0 10px 10px 0;
}
